@font-face {
    font-family: lemonmilk;
    src: url(LEMONMILK-Bold.otf);
}

@font-face {
    font-family: noe;
    src: url(Noe.ttf);
}

@font-face {
    font-family: mcdr;
    src: url(MCDR.otf);
}

ul {
    list-style-type: none;
    color: white;
    font-size: 23px;
    flex: 1;
    font-family: mcdr;
  }

.flexy{
    /*padding-top: 40px;*/
    padding-top: 150px;
    display: flex;
    gap: 10px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

h1{
    font-family: noe;
}