{%extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}

{% block body %}
<div class="maincontent">
    <h1>ABOUT THIS PROJECT</h1>
    <p>            This website is a proof of concept on working with API's and the usage of Flask which is a lightweight Python web framework which provides features for creating a web application. This webpage is built on python backend and by using flask for frontend. It also uses Jinja2 syntaxes and even Javascript to provide an interactive front end. This webpage was created by Nisham Ahamed (1NH20IS097) and Muhammed Shareef (1NH20IS090).</p>
</div>
{% endblock %}