<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home/indexstyle.css') }}">
    <link rel="stylesheet" href="{{ 'https://www.w3schools.com/w3css/4/w3.css' }}">
    <link rel="stylesheet" href="{{ 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home/indexextras.css') }}">
    {% block head %} {% endblock %}
</head>
<body class="body">
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
          <a href="/top" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOP</a>
          <a href="/livecount" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LIVECOUNTER</a>
          <a href="/compare" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMPARE</a>
          <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
        </div>
      </div>
    {% block body %} {% endblock %}
</body>
</html>